@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab');

.wrapper {
	padding: 50px;	
}

span {
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	text-align: center;
	letter-spacing: .35em;
	font-size: 50px;
	color: #000;
}

nav {
	font-size: 1.8em;
	float: center;
}
 
nav a {	
	display: inline;
	font-family: 'Josefin Slab', serif;
	text-decoration: none;
	color: #000;
	margin: 40px;
	padding: 10px;
	text-transform: uppercase;
} 

a:hover {
	outline: solid black;
}

h2 {
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	font-family: 'Amatic SC', cursive;
}

h3 {
	font-size: 36px;
	font-family: 'Amatic SC', cursive;
	line-height: 1.5em;
	text-align: center;
}

body {
	background-color: #FFF;
	text-align: center;
	font-size: 20px;
	line-height: 1.5em;
	margin: 1.5em;
	color: #000;
}

#two_column {
	padding: 20px;
}


#left {
	background: #FFF;
	font-family: 'Josefin Slab', serif;
	color: #000;
	border: 1px black solid;
	float: left;
	padding: 20px;
	margin-left: 225px;
	margin-top: 30px;
	width: 40%;
}

#right {
	background: #000;
	color: #FFF;
	font-family: 'Josefin Slab', serif;
	border: 1px black solid;
	float: right;
	padding: 20px;
	margin-right: 225px;
	margin-top: 30px;
	width: 20%;
	line-height: 1.5em;
	text-align: center;
	list-style-type: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both
}
address {
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	font-family: 'Josefin Slab', serif;
}

a:link {
	color: black;
	font-size: 15px;
	text-decoration: none;
}

footer {
	font-family: 'Josefin Slab', serif;
}
