@import url('https://fonts.googleapis.com/css?family=Montserrat|Proza+Libre:800|Roboto+Slab');

.wrapper {
	
}

h1 {
	font-family: 'Proza Libre', sans-serif;
	text-align: center;
	font-size: 60px;
	color: #FFED74;
}

#heading {	 
	background-color: rgba(0,0,0);
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	border: 8px solid black;
}

#quote {
	text-align: center;
	font-style: italic;
}

#menu {
	width: 100%;
	color: #E8C66A;
	text-transform: uppercase;
	position: relative;
	display: block;
	padding: 0px 15px;
	list-style-type: none;
}

h2 {
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	font-family: 'Montserrat', sans-serif;
}

body {
	text-align: center;
	font-size: 16px;
	line-height: 1.5em;
	margin: 2em;
	background: url("http://68.media.tumblr.com/3b37d76582c42b8b6c8bb91d07ce2eb1/tumblr_nwzf70GUEw1uch37fo1_1280.jpg");
	background-size: cover;
	color: #000;
	font-family: 'Roboto Slab', serif;
	padding-left: 450px;
	padding-right: 450px;
}

#quote {
	font-size: 12px;
	color: #000;
	font-family: 'Roboto Slab', serif;
}

#description {
	background: rgba(224,255,255,0.4);
	color: #E89C6C;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

address {
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	font-family: 'Roboto Slab', serif;
}

a:link {
	color: black;
}

h3 {
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#about {
	color: #FF957E;
	font-family: 'Roboto Slab', serif;
	line-height: 1.5em;
	text-align: center;
	list-style-type: none;
}

